
.PostContainer1 {  
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    font-family : Montserrat;
    font-Size : 1rem; 
 }
.PostContainer2 { /* Contenedor arriba para icono y cita */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; 
    color: #242424d0; 
    font-family : Montserrat;
    font-Size : 1rem;   
 }
 .smallIcon { 
    position: absolute;
    top: 1%;  /* Coloca el contenedor a una distancia desde el top *
    left: 3%;  /* Coloca el contenedor a una distancia desde la izquierda *
    transform: translateX(-50%);  /* Centra el contenedor horizontalmente *
    height: 4rem; /* Ajusta la altura del ícono *
    width: 4rem;  /* Asegura que la imagen tenga un tamaño específico */
    cursor: pointer;   
}*
.imgBackRegis {
    background:  url("/FonRegis.png");
   /* background-image: url("/FonReg.png"); */
    background-Size:  cover;
    background-Position: center;
    opacity: 0.5;  /* Hacer la imagen de fondo más transparente*/
    height: 100vh;
    z-index: -2;
    width: 100%;   
    position: absolute;
    top: 0;
}
.TitlePost {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f5f5f5;
    font-size: 20px;
    font-family: Montserrat;  
    text-transform: uppercase;
    color: #224F60; /* #242424d0;       /* Un color oscuro para el texto color: #224F60;*/     
}
.postCardGeneral {
    display: flex; /* Utiliza Flexbox para organizar los elementos hijos */
    flex-direction: column; /* Los elementos hijos se colocan en una columna (uno debajo del otro) */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    width: 80vw; /* El ancho del contenedor es el 50% del ancho de la ventana del navegador */
    gap: 0.5rem; /* Espaciado entre los elementos hijos */
    border-radius: 0.5rem; /* Bordes redondeados con un radio de 0.5rem */
    font-family: Montserrat; /* Fuente utilizada para el texto dentro del contenedor */
    margin: auto; /* Centra horizontal y verticalmente */
    color: #224F60; 
}
.post { /*estilos formulario*/
    display: flex;
    flex-direction: column; /* Cambia a "column" si quieres que los elementos se apilen verticalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
    gap: 1rem;
    font-size: 1.3rem;
    font-family: Montserrat; 
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */ 
    padding: 35px;
    border-radius: 8px; /* Bordes redondeados */
    border: 2px solid #ccc; /* Borde delgado de color gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
    width: 500px; /* Tamaño ajustado del formulario */
    margin-top: 15px; /* Espacio superior para separar del borde superior */
    color: #333; /* Un color oscuro para el texto */
}
.form_input {
   display: flex; /* Utiliza Flexbox para organizar los elementos hijos */
    flex-direction: column; /* Los elementos hijos se colocan en una columna (uno debajo del otro) */
    width: 85%; /* Asegura que ambos inputs tengan el mismo ancho */
    height: 3rem; /* Altura de los inputs */
    margin: 10px; /* Espacio entre los inputs (en este caso, margen arriba y abajo) */
    font-size: 1rem; /* Tamaño de fuente consistente */
    font-family: Montserrat;
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px;          /* Un poco de espacio interno en cada input */
    background-color: rgb(214, 235, 235);
    margin: 0 auto; /* Centra el input horizontalmente */
}
.form_label {
    display: flex; /* Utiliza Flexbox para organizar los elementos hijos */
    width: 100%; /* Asegura que ambos inputs tengan el mismo ancho */
    font-family: Montserrat; 
    color: #224F60; /* Color del texto del label */
    font-weight: bold; /* Hace que el texto del label sea negrita */
    margin-bottom: 0.5rem; /* Espacio inferior para separar del input */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    letter-spacing: 0.05em; /* Espaciado entre letras para un efecto más estilizado */
    height: 2rem;
    text-align: center; /* Centra el texto dentro del label */ 
}
.postCard { /*estilos formulario*/
    display: flex;
    flex-direction: column; /* Cambia a "column" si quieres que los elementos se apilen verticalmente */
    /*justify-content: center; /* Centra los elementos horizontalmente */
    /*align-items: center; */ 
    gap: 1rem;
    font-size: 1.3rem;
    font-family: Montserrat; 
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */ 
    padding: 35px;
    border-radius: 8px; /* Bordes redondeados */
    border: 2px solid #ccc; /* Borde delgado de color gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
    width: 500px; /* Tamaño ajustado del formulario */
   /* height: 100px;*/
    margin-top: 15px; /* Espacio superior para separar del borde superior */
    color: #333; /* Un color oscuro para el texto */
    font-size: 1rem;   /* Tamaño de fuente consistente */
    font-family: Montserrat; /* Fuente utilizada para el texto dentro del contenedor */
}
.postLikeBtn button{
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    color:#224F60; /* Texto blanco */
    border: none; /* Sin borde */
    font-family: Montserrat; /* Fuente utilizada */
    font-size: 1.5rem; /* Tamaño de fuente */ 
    text-align: start; /* Centra el texto dentro del label */   
}
.postLikeBtn button:hover {
    background-color: #ec46ad; /* Cambia el color al pasar el cursor */
}
.form_button {
    display: flex; /* Utiliza Flexbox para organizar los elementos hijos */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    font-family: Montserrat;
    background-color: #224F60;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 1rem; /* Espacio superior para separar del borde superior */
}
.form_button[type="submit"]:hover {
    background: #5a6160; /* Cambia el color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
}
.postContent {
    display: flex; /* Utiliza Flexbox para organizar los elementos hijos */
    flex-direction: column; /* Los elementos hijos se colocan en una columna (uno debajo del otro) */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    width: 100%; /* El ancho del contenedor es el 100% del ancho de su padre */
    gap: 0.5rem; /* Espaciado entre los elementos hijos */
    font-family: Montserrat; /* Fuente utilizada para el texto dentro del contenedor */
    margin: auto; /* Centra horizontal y verticalmente */
    top: 5rem; /* Coloca el contenedor en el centro vertical */
    position: relative; /* Asegura que el contenedor respete el flujo del documento */
    padding: 1rem; /* Espaciado interno de 1rem alrededor del contenido */
}
.publishPost {
    display: flex; /* Utiliza Flexbox para organizar los elementos hijos */
    flex-direction: column; /* Los elementos hijos se colocan en una columna (uno debajo del otro) */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    width: 90%; /* El ancho del contenedor es el 100% del ancho de su padre */ 
   
    gap: 0.5rem; /* Espaciado entre los elementos hijos */
    font-family: Montserrat; /* Fuente utilizada para el texto dentro del contenedor */
    position: relative; /* Asegura que el contenedor respete el flujo del documento */
    padding: 1rem; /* Espaciado interno de 1rem alrededor del contenido */
    font-size: 1rem;
    border: 1px solid #ec46ad; /* Borde delgado de color gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
}
















/*


.post-card__author {
    margin: 0;
}
.post-card__title {
    margin: 0;
    font-size: 1.75rem;
}

.post-card__description {
    margin: 0;
}

.post-card__img {
    width: 10rem;
}

.post-card__img-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-card__like {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem
}

.post-card__like-btn {
    cursor: pointer;
}*/