:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /*color-scheme: light dark;
    /*color: rgba(255, 255, 255, 0.87);*/
    /*background-color: #24242479;*/
    /*background-color: #d1e42b;
    font-synthesis: none;*/
  
  }
  /* Contenedor landing */
  body{
    margin: 0;
    padding: 0;
  }
  
  
  .lanContainer_1 {
    display: flex;
    width: 100%;
    height: 100vh;  /* Asegúrate de que el contenedor tenga altura de vista */
    z-index: 1; 
    justify-content: center;
    align-items: center; 
    /*background-color: #072c1a; */  
    background-color: #e98111; 
  }
  .lanContainer_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
    top: 0px;
    gap: 1;
    background-color: #2c2c2c   ;  
  }
  .titleLanding { 
    display: flex;
    justify-content: center;
    align-items: center;  /* Centra verticalmente */
    color: #fff; /* Un color oscuro para el texto color: #224F60;*/
    font-size: 1.5rem;
    font-family: montserrat;  
  
  }

  /*img icono proncipal*/
  .icon { 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    width: 13%;  /* Ajusta el tamaño de la imagen al 80% del contenedor */
    height: auto;   
    filter: brightness(0) saturate(100%) invert(53%) sepia(82%) saturate(749%) hue-rotate(-16deg) brightness(101%) contrast(101%);
    cursor: pointer;
  }
  /*botón que comienza primera pantalla*/
  .joinButton{
     
    display: flex;
    justify-content: center;
    align-items: center;  /* Centra verticalmente */
    flex-direction: row;
    position: absolute;
    top: 1rem; /* Lo coloca a 1rem desde la parte superior */
    right: 10rem; /* Lo coloca a 1rem desde el margen derecho */
    width: 10rem;

    cursor: pointer;
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-bottom: 5rem;
    border: 2px solid blue;
  }
  
 .buttonHeader {
    display: flex;
    justify-content: center;
    align-items: center;  /* Centra verticalmente */
    flex-direction: row;
    position: absolute;
    top: 0.5rem; /* Lo coloca a 1rem desde la parte superior */
    right: 2rem; /* Lo coloca a 1rem desde el margen derecho */
    width: 5rem;  
    color : white;
    
    height : 40px;
    font-family : Montserrat;
    font-Size : 1rem;
    margin-top: 2rem ;
    
    cursor: pointer;
    border-radius: 5px;  
 }