.head {
    margin-left: 10%;
    margin-top: 10%;
    height: 4rem;
    width: 4rem;
    background-color: rgb(197, 187, 75);
   /* border-top: 10px solid black;*/
   border-radius: 50%;
  /* position: absolute;*/
}


.cubo_1 {

    margin-left: 40%;
    margin-top: 20%;
    height: 150px;
    width: 100px;
    background-color: rgb(100, 123, 47);
    float: left; 
}
 .cubo_2 {
    float: left; 
    margin-left: 55%;
    height: 150px;
    width: 100px;
    background-color: rgb(90, 34, 83);
    
 }

 