#lienzo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
#sol { 
    height: 4rem;
    width: 4rem;
    background-color: rgb(197, 187, 75);
    border-radius: 50%;
  
}
  
.cubo{
    height: 150px;
    width: 100px;
 }
  
#cubo_1 {
    grid-row: 4;
    grid-column: 1;
    background-color: rgb(187, 218, 210); 
}

#cubo_2 {
    grid-row: 4;
    grid-column: 2;
    background-color: rgb(192, 216, 214);
      
   }
  
   