.form { /*estilos formulario*/
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 1rem;
    font-size: 1.3rem;
    font-family: Montserrat; 
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */ 
    padding: 35px;
    border-radius: 8px; /* Bordes redondeados */
    border: 2px solid #ccc; /* Borde delgado de color gris claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */
    width: 300px; /* Tamaño ajustado del formulario */
    z-index: 1;
    margin-top: 30px; /* Espacio superior para separar del borde superior */
    color: #333; /* Un color oscuro para el texto */
    
    font-size: 1rem;   
    
}
.form input{ /* submit de registrarse */
    margin: 10px 0;         /* Espacio entre los inputs (en este caso, margen arriba y abajo) */
    padding: 10px;          /* Un poco de espacio interno en cada input */
    width: 100%;             /* Los inputs ocupan el 80% del contenedor (puedes ajustar este valor) */
    max-width: 300px;       /* El ancho máximo del input es de 300px */  
    border-radius: 4px;     /* Bordes redondeados en los inputs */  
    border: 2px solid #f5f5f5; /* Un borde verde para contrastar */
    font-family: Montserrat; 
    font-size: 1rem;
    background-color: rgb(212, 220, 223);
    cursor: pointer;  
}  
.form_buttonLog[type="submit"] { /* Estilo para el botón de enviar */
    background-color: #e98111; /*fondo para el botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    font-family: Montserrat; 
    font-size: 1rem;
    border-radius: 2px;
    width: 50%; /* El botón ocupa el 80% del contenedor (puedes ajustar este valor) */
    /*height: 100%;*/
    padding: 10px; /* Espacio interno en el botón */
    margin-top: 10px; /* Espacio entre el botón y el input anterior */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el color de fondo y el texto */
    display: flex;
    flex-direction: row;
    gap: 1.5rem; 
    justify-content: center; /* Centra el contenido del botón horizontalmente */
    align-items: center; /* Centra el contenido del botón verticalmente */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
    height: 40px; /* Altura del botón */
}
.form_buttonLog[type="submit"]:hover {
    background: #5a6160; /* Cambia el color de fondo al pasar el mouse */
    color: white; /* Cambia el color del texto al pasar el mouse */
}
.form_label {
width: 100%; /* Asegura que ambos inputs tengan el mismo ancho */
padding: 0.5rem; /* Espaciado interno uniforme */
border: 1px solid #ccc; /* Borde consistente */
border-radius: 5px; /* Bordes redondeados */
box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}
 


  











/*.form .form__submit-button {
    margin: 0;
    background-color: black;
    color: white;
    padding: 0.5rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
}

.form .form__submit-button:hover,
.header__user-button:hover {
    background-color: #FFAC46;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 15rem;
    border: solid 0.09rem #d9d9d9;
    padding: 1rem;
    border-radius: 0.5rem
}

.form__input-text {
    padding: 0.25rem 0.65rem;
    border: solid 0.09rem #d9d9d9;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

fieldset {
    border: transparent;
    padding: 0;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.25rem
}

fieldset label {
    margin-top: 0.2rem
}

.form__input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form__input-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: solid 0.09rem #d9d9d9;
    border-radius: 0.2rem;
}


.form__input-checkbox:checked {
    appearance: auto;
    accent-color: black;
}

.form .form__submit-button {
    margin: 0;
    background-color: black;
    color: white;
    padding: 0.5rem 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
}*/