/* Contenedor landing */
body{
    margin: 0;
    padding: 0;
}
/*div img de fondo opaca*/
.imgBack {
    background-image: url("https://cdn.pixabay.com/photo/2016/04/07/01/02/yoga-1313110_1280.jpg");
    background-Size:  cover;
    background-Position: center;
    opacity: 0.3;  /* Hacer la imagen de fondo más transparente*/
    height: 100vh;
    z-index: -1;
    width: 100%;    
}
.lanContainer_1 {
    display: flex;
    width: 100%;
    height: 100vh;  /* Asegúrate de que el contenedor tenga altura de vista */
    z-index: 1; 
    justify-content: center;
    align-items: center;    
}
.lanContainer_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 50;
    position: absolute;
    top: 0px;
    gap: 1;
}
.titleLanding { 
    display: flex;
    justify-content: center;
    align-items: center;  /* Centra verticalmente */
    color: #333; /* Un color oscuro para el texto color: #224F60;*/
    font-size: 1.5rem;
    font-family: montserrat;  
 
}
/*img icono proncipal*/
.icon { 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; 
    width: 15%;  /* Ajusta el tamaño de la imagen al 80% del contenedor */
    height: auto;   
}
/*botón que comienza primera pantalla*/
.joinButton{
    display: flex;
    justify-content: center;
    align-items: center;  /* Centra verticalmente */
    width: 10rem;  
    color : white;
    background : rosybrown;
    height : 40px;
    font-family : Montserrat;
    font-Size : 1rem;
    margin-top: 2rem ;
    box-shadow: 0 4px 8px #224F60;
    cursor: pointer;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding-bottom: 5rem;
    border: 2px solid blue;
}
